{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h1>Index</h1>

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th class="p-5">Symbol</th>
            <th class="p-5">Shares</th>
            <th class="p-5">Price</th>
            <th class="p-5">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for row in arr%}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>

            </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Cash:</td>
                <td>{{cash}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>TOTAL:</td>
                <td>{{total}}</td>

            </tr>
        </tfoot>

    </tbody>
</table>
</div>


{% endblock %}
